<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>关于我们</title>
<link rel="stylesheet" type="text/css" href="default/css/reset.css" />
<link rel="stylesheet" type="text/css" href="default/css/common.css" />
<link rel="stylesheet" type="text/css" href="default/css/heder_nav-menu.css"/>
<link rel="stylesheet" type="text/css" href="default/css/about.css" />


</head>

<body>
{{include 'default/public/header.html'}}
<div id="header_nav-wrapper">
    <div class="header_nav">
    	<h2>关于校友 <span>我们在一起</span></h2>
    </div>
</div>

<div id="header_title-wrapper">

    <div class="header_title clear">
        <p >
        <a href="#">校园介绍</a>
        <a href="#">校园理念</a>
        <a href="#">文化风采</a>
        <a href="#" style="margin-right:20px;">发展历程</a>
        
        </p>
    </div>


</div>

<div id="main-wrapper">
    <div class="main_top">
       <a href="#"><img src="default/images/about/main_top-image.jpg" alt="&nbsp;"/></a>
        <dl>
            <dt>关于我们</dt>
            <dd>校友管理系统起始于互联网的时代，大大的促进了校友之间的交流，是一个很不错的桥梁选择。它们切近实际的为学生们、校友们
                着想、使我们能更好的交流，同时也为我们提供了一个更大的平台。也使得学校的各类咨询得以传播，例如：以某个学院为主举办得
                什么课余活动，同时也促进了各学院及各学院同学之间关系的提升。
                <br><br>我们的目标是一致的，齐心协力为学生们服务
            </dd>
  
        </dl>

    </div>
    <!-- <div class="main_center">
        <dl class="clear">
        <dt>企业使命 Enterprise Mission</dt>
        <dd><a href="#"><img src="default/images/about/main_center-image1.jpg" /><p>创作独一无二的设计</p></a></dd>
        <dd><a href="#"><img src="default/images/about/main_center-image2.jpg" /><p>创作独一无二的设计</p></a></dd>
        <dd style="margin-right:0;"><a href="#"><img src="default/images/about/main_center-image3.jpg" /><p>创作独一无二的设计</p></a></dd>
        </dl>
    </div> -->
    <div class=" main_bottom">
        <ul class="clear">
            <h2>校园环境</h2> 
            <li><a href="#" ><img src="default/images/about/main_bottom-image1.jpg" alt="&nbsp;" /></a></li>
            <li><a href="#"><img src="default/images/about/main_bottom-image2.jpg" alt="&nbsp;" /></a></li>
            <li><a href="#" style=" margin-right:0;"><img src="default/images/about/main_bottom-image3.jpg" alt="&nbsp;" /></a></li>
            <li><a href="#"><img src="default/images/about/main_bottom-image4.jpg" alt="&nbsp;"  /></a></li>
            <li><a href="#"><img src="default/images/about/main_bottom-image5.jpg" alt="&nbsp;" /></a></li>
            <li><a href="#" style=" margin-right:0;"><img src="default/images/about/main_bottom-image6.jpg" alt="&nbsp;" /></a></li>
            <li><a href="#" style=" margin-bottom:0;"><img src="default/images/about/main_bottom-image7.jpg" alt="&nbsp;" /></a></li>
            <li><a href="#" style=" margin-bottom:0;"><img src="default/images/about/main_bottom-image8.jpg" alt="&nbsp;" /></a></li>
            <li><a href="#" style=" margin-right:0; margin-bottom:0;"><img src="default/images/about/main_bottom-image9.jpg" alt="&nbsp;" /></a></li>
        </ul>       
    </div>
</div>
{{include 'default/public/footer.html'}}
        

</body>
</html>
