<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>成功案例</title>
<title>heder_nav-menu</title>
<link rel="stylesheet" type="text/css" href="default/css/reset.css" />
<link rel="stylesheet" type="text/css" href="default/css/common.css" />
<link rel="stylesheet" type="text/css" href="default/css/heder_nav-menu.css"/>
<link rel="stylesheet" type="text/css" href="default/css/successful_case.css"/>
<link rel="stylesheet" type="text/css" href="default/css/bootstrap.min.css"/>
</head>

<body>
{{include 'default/public/header.html'}}
<!-- <div id="header_nav-wrapper">
    <div class="header_nav">
    	<h2>成功案例 &#160; <span>用心给客户书写出一次次满意的答卷，创造有价值的产品
APP开发</span></h2>
    </div>
</div> -->

<!-- <div id="header_title-wrapper">
    <div class="header_title clear">
		{{each catelist}}
			<p style="float: left; margin-left: 20px">
				<a href="/case?pid={{@$value._id}}" {{if pid == $value._id}} class="active" {{/if}}>{{$value.title}}</a>
			</p>
		{{/each}}
    </div>
</div> -->
<div id="main_wrapper">
    <div class="main">
	    <ul class="clear">
	    {{each articlelist}}
		    <li>
	    		<a href="content/{{@$value._id}}"><img src="{{$value.img_url}}" /></a>
	    		<p>{{$value.title}}</p>
		    </li>
		{{/each}}
	    </ul>
	    <div id="page" class="pagination"></div>
    </div>
</div>
{{include 'default/public/footer.html'}}

	<script src="/default/js/jquery-2.0.3.min.js"></script>
<!-- 引入分页插件 -->
	<script src="/default/js/jqPaginator.js"></script>
    <script>
        $('#page').jqPaginator({
            totalPages: {{totlePages}},
            visiblePages: 6,
            currentPage: {{page}},
            onPageChange: function(num,type){
                // $('#text').html('当前第'+ num +'页');
                if(type == 'change'){
                	{{if pid}}
                			location.href = '/case?pid={{pid}}&page=' + num;
                		{{else}}
                			location.href = '/case?page=' + num;
                	{{/if}}
                }
            }
        })
    </script>

</body>
</html>
