<div id="footer-wrapper">
    <div class="footer-inner">
        <p>
            <a href="#">网站首页</a>&nbsp;&nbsp;|&nbsp;
            <a href="#">关于我们</a>&nbsp;&nbsp;|&nbsp;
            <a href="#">产品展示</a>&nbsp;&nbsp;|&nbsp;
            <a href="#">客户案例</a>&nbsp;&nbsp;|&nbsp;
            <a href="#">新闻资讯</a>&nbsp;&nbsp;|&nbsp;
            <a href="#">帮助中心</a>&nbsp;&nbsp;|&nbsp;
            <a href="#">解决方案</a>&nbsp;&nbsp;|&nbsp;
            <a href="#">联系我们</a>&nbsp;&nbsp;&nbsp;&nbsp;
        </p>
        <p>Copyright © 2015-2019长春师范大学 版权所有 Power by ChangeChun</p>
        <p>电话：13844815296 &nbsp;&nbsp;&nbsp;&nbsp;E-mail：liangrumeng2015@163.com &nbsp;&nbsp;&nbsp;&nbsp;地址：吉林省长春市二道区长春师范大学</p>
    </div>
</div>