<div id="header-wrapper">
    	<div class="header-inner">
        	<div class="logo">
           		<h1>
                	<a href="#" title="长春师范大学校友管理系统">长春师范大学校友管理系统</a>
                </h1> 
            </div>
            <div class="nav">
            	<ul class="clear">
                	<li>
                    	<a href="/" {{if pathname == '/'}} class="active" {{/if}}>首页</a>
                    </li>
                    
                    <li>
                    	<a href="/service" {{if pathname == '/service'}} class="active" {{/if}}>校园新闻</a>
                    </li>
                	
                	<li>
                    	<a href="/case" {{if pathname == '/case'}} class="active" {{/if}}>新闻资讯</a>
                    </li>
                	<li>
                    	<a href="/news" {{if pathname == '/news'}} class="active" {{/if}}>资讯详情</a>
                    </li>
                	<li>
                    	<a href="/about" {{if pathname == '/about'}} class="active" {{/if}}>关于我们</a>
                    </li>
                	<li>
                    	<a href="/connect" {{if pathname == '/connect'}} class="active" {{/if}}>联系我们</a>
                    </li>
                </ul>
            </div>
        </div>
</div>